# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\sabat\OneDrive - studenti.unisa.it\UNIVERSITA\2 ANNO\TSW\IdeaProjects\exerciseCatAuth\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
